* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    background-color: #F4F4F4;
}

.form-container {
    position: relative;
    left: 20%;
    width: 60%;
    height: 100vh;
    background-color: white;
}

.contact-form {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 600px;
}

input, textarea {
    width: 100%;
    margin-top: 2rem;
    border: none;
    border-bottom: 1px solid black;
}

.submit {
    border-radius: 10px;
    border: 1px solid black;
    padding:1rem;
    text-align: center;
    background-color:white;
    cursor: pointer;
}

.submit:hover {
    opacity: .6;
}

textarea:focus {
    border: none;
}
